<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ffcrm.UserEmailService.Properties.Settings.CRM_TestConnectionString"
            connectionString="Data Source=ffcrm-test.database.windows.net;Initial Catalog=CRM_Test;Persist Security Info=True;User ID=ffcrmTest;Password=Test#9605"
            providerName="System.Data.SqlClient" />
        <add name="ffcrm.UserEmailService.Properties.Settings.CRM_Test_SecurityConnectionString"
            connectionString="Data Source=ffcrm-test.database.windows.net;Initial Catalog=CRM_Test_Security;User ID=ffcrmtest;Password=Test#9605"
            providerName="System.Data.SqlClient" />
        <add name="ffcrm.UserEmailService.Properties.Settings.CRM_Test_SharedConnectionString"
            connectionString="Data Source=ffcrm-test.database.windows.net;Initial Catalog=CRM_Test_Shared;User ID=ffcrmtest;Password=Test#9605"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>